@charset "UTF-8";
aside>ul{list-style-position: inside;
columns: 2;}
aside, ol{text-align: center;}
body{
    background-image: url('fotodef2.jpeg');
    
}



h1{
    font-family: Arial, Helvetica, sans-serif;
}


a:hover{
    background-color:black ;
text-decoration: none;}
a{text-decoration: none;
border-radius: 5px;
color: darkgoldenrod;
text-shadow:2px 0px 1px  black;}



