@charset "UTF-8";
aside>ul{list-style-position: inside;
columns: 2;}
aside, ol{text-align: center;}
body{
    background-color: rgba(127, 255, 185, 0.671);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}